.md-selection-control-group{
  border:1px solid gray;
  width:25px;
  padding:10px;
}

#Titles{
  border: 1px solid gray;
font-weight: bold;
border-width: 1px;
background:#f2f2f2;
padding:3px 0px 3px 0px;
}

#New{
  font-weight: bold;
  font-size: 20px;
}
