#EDcontent{
    border:1px solid gray;
    height:500px;
}

#Title{
    color:#616466;
    font-weight:bold
}
.topnav {
  
  background-color: #f2f2f2;
  height:30px
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  color:#616466;
  font-weight:bold;
  font-size: 10px;
  padding: 10px 14px 10px;
  text-decoration: none;  
}

#Head{
    border-bottom:3px dotted gray;
    background: white;
    font-size:12px;    
}

#Output{
    background: #f2f2f2;
    height:380px;
    width:1000px;
}

#Content{
    border:1px solid gray;
    height:20px;
    margin:5px;
    background:white;
    font-size:10px;
}
#Period{
    color:#0480d3;
    font-weight:bold
}

button{
    float:right;
    margin:25px;
    height:30px;
}

#View{
    border-color:#32a8d3;
    height:620px;
}